<div class="login-container">
  <div class="login-card">
    <div class="login-header">
      <h2>Connexion</h2>
      <p>Accédez à votre espace professionnel</p>
    </div>

    <form (ngSubmit)="onLogin()" class="login-form">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" [(ngModel)]="email" name="email" required placeholder="votre@email.com" class="form-control" />
        <i class="icon fas fa-envelope"></i>
      </div>

      <div class="form-group">
        <label for="password">Mot de passe</label>
      <input type="password" id="password" [(ngModel)]="password" name="password" required placeholder="••••••••" class="form-control"/>
        <i class="icon fas fa-lock"></i>
      </div>

      <div *ngIf="errorMessage" class="error-message">
        <i class="fas fa-exclamation-circle"></i>
        {{ errorMessage }}
      </div>

      <div class="form-footer">
        <button type="submit" class="login-btn">
          <span>Se connecter</span>
        </button>
      </div>
    </form>
  </div>
</div>